<div id="header" class="page-header">
    <h1>Organization List</h1>
	<p class="lead">Codes for org for topic object.</p>
</div>
<table class="table table-bordered">
  <thead>
	<tr>
      <th>Title</th>
      <th>Direct</th>
      <th>Division</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Office of the Director </td>
      <td>OD</td>
      <td> </td>
      <td>OD,OCI,OGC,OIA,EPSCoR,OISE,ODI,OLPA,OPP</td>
    </tr>
    <tr>
      <td>Office of Cyberinfrastructure</td>
      <td>OD</td>
      <td>OCI</td>
      <td>OCI</td>
    </tr>
    <tr>
      <td>Office of the General Counsel</td>
      <td>OD</td>
      <td>OGC</td>
      <td>OGC</td>
    </tr>
    <tr>
      <td>Office of Integrative Activities</td>
      <td>OD</td>
      <td>OIA</td>
      <td>OIA,EPSCoR</td>
    </tr>
    <tr>
      <td valign="bottom">
        <p>Office of Experimental Program To Stimulate Competitive </p>
        <p>Research</p>
      </td>
      <td>OIA</td>
      <td>EPSCoR</td>
      <td>EPSCoR</td>
    </tr>
    <tr>
      <td>Office of International Science and Engineering</td>
      <td>OD</td>
      <td>OISE</td>
      <td>OISE</td>
    </tr>
    <tr>
      <td>Office of Diversity and Inclusion (ODI)</td>
      <td>OD</td>
      <td>ODI</td>
      <td>ODI</td>
    </tr>
    <tr>
      <td>Office of Legislative &amp; Public Affairs</td>
      <td>OD</td>
      <td>OLPA</td>
      <td>OLPA</td>
    </tr>
    <tr>
      <td>Office of Polar Programs</td>
      <td>OD</td>
      <td>OPP</td>
      <td>OPP</td>
    </tr>
    <tr>
      <td>National Science Board </td>
      <td>NSB</td>
      <td> </td>
      <td>NSB</td>
    </tr>
    <tr>
      <td>Office of the Inspector General </td>
      <td>OIG</td>
      <td> </td>
      <td>OIG</td>
    </tr>
    <tr>
      <td>Directorate for Biological Sciences </td>
      <td>BIO</td>
      <td>OAD</td>
      <td>BIO,MCB,DBI,IOS,DEB,EF</td>
    </tr>
    <tr>
      <td>Division of Molecular &amp; Cellular Biosciences</td>
      <td>BIO</td>
      <td>MCB</td>
      <td>MCB</td>
    </tr>
    <tr>
      <td>Division of Biological Infrastructure</td>
      <td>BIO</td>
      <td>DBI</td>
      <td>DBI</td>
    </tr>
    <tr>
      <td>Division of Integrative Organismal Systems</td>
      <td>BIO</td>
      <td>IOS</td>
      <td>IOS</td>
    </tr>
    <tr>
      <td>Division of Environmental Biology</td>
      <td>BIO</td>
      <td>DEB</td>
      <td>DEB</td>
    </tr>
    <tr>
      <td>Emerging Frontiers Office</td>
      <td>BIO</td>
      <td>EF</td>
      <td>EF</td>
    </tr>
    <tr>
      <td>Directorate for Computer &amp; Information Science &amp; Engineering </td>
      <td>CISE</td>
      <td>OAD</td>
      <td>CISE,CCF,CNS,IIS</td>
    </tr>
    <tr>
      <td>Division of Computing and Communication Foundations</td>
      <td>CISE</td>
      <td>CCF</td>
      <td>CCF</td>
    </tr>
    <tr>
      <td>Division of Computer and Network Systems</td>
      <td>CISE</td>
      <td>CNS</td>
      <td>CNS</td>
    </tr>
    <tr>
      <td>Division of Information and Intelligent Systems</td>
      <td>CISE</td>
      <td>IIS</td>
      <td>IIS</td>
    </tr>
    <tr>
      <td>Directorate for Education &amp; Human Resources </td>
      <td>EHR</td>
      <td>OAD</td>
      <td>EHR,DRL,DGE,HRD,DUE</td>
    </tr>
    <tr>
      <td>Division of Research on Learning in Formal and Informal Settings</td>
      <td>EHR</td>
      <td>DRL</td>
      <td>DRL</td>
    </tr>
    <tr>
      <td>Division of Graduate Education</td>
      <td>EHR</td>
      <td>DGE</td>
      <td>DGE</td>
    </tr>
    <tr>
      <td>Division of Human Resource Development</td>
      <td>EHR</td>
      <td>HRD</td>
      <td>HRD</td>
    </tr>
    <tr>
      <td>Division of Undergraduate Education</td>
      <td>EHR</td>
      <td>DUE</td>
      <td>DUE</td>
    </tr>
    <tr>
      <td>Directorate for Engineering </td>
      <td>ENG</td>
      <td>OAD</td>
      <td>ENG,CBET,CMMI,ECCS,EEC,EFRI,IIP</td>
    </tr>
    <tr>
      <td valign="bottom">
        <p>Division of Chemical, Bioengineering, Environmental, and   </p>
        <p>Transport Systems</p>
      </td>
      <td>ENG</td>
      <td>CBET</td>
      <td>CBET</td>
    </tr>
    <tr>
      <td>Division of Civil, Mechanical &amp; Manufacturing Innovation</td>
      <td>ENG</td>
      <td>CMMI</td>
      <td>CMMI</td>
    </tr>
    <tr>
      <td>Division of Electrical, Communications &amp; Cyber Systems</td>
      <td>ENG</td>
      <td>ECCS</td>
      <td>ECCS</td>
    </tr>
    <tr>
      <td>Division of Engineering Education &amp; Centers</td>
      <td>ENG</td>
      <td>EEC</td>
      <td>EEC</td>
    </tr>
    <tr>
      <td>Office of Emerging Frontiers in Research &amp; Innovation</td>
      <td>ENG</td>
      <td>EFRI</td>
      <td>EFRI</td>
    </tr>
    <tr>
      <td>Division of Industrial Innovation &amp; Partnerships</td>
      <td>ENG</td>
      <td>IIP</td>
      <td>IIP</td>
    </tr>
    <tr>
      <td>Directorate for Geosciences </td>
      <td>GEO</td>
      <td>OAD</td>
      <td>GEO,AGS,EAR,OCE</td>
    </tr>
    <tr>
      <td>Division of Atmospheric and Geospace Sciences</td>
      <td>GEO</td>
      <td>AGS</td>
      <td>AGS</td>
    </tr>
    <tr>
      <td>Division of Earth Sciences</td>
      <td>GEO</td>
      <td>EAR</td>
      <td>EAR</td>
    </tr>
    <tr>
      <td>Division of Ocean Sciences</td>
      <td>GEO</td>
      <td>OCE</td>
      <td>OCE</td>
    </tr>
    <tr>
      <td>Directorate for Mathematical &amp; Physical Sciences </td>
      <td>MPS</td>
      <td>OAD</td>
      <td>MPS,AST,CHE,DMR,DMS,PHY</td>
    </tr>
    <tr>
      <td>Division of Astronomical Sciences</td>
      <td>MPS</td>
      <td>AST</td>
      <td>AST</td>
    </tr>
    <tr>
      <td>Division of Chemistry</td>
      <td>MPS</td>
      <td>CHE</td>
      <td>CHE</td>
    </tr>
    <tr>
      <td>Division of Materials Research</td>
      <td>MPS</td>
      <td>DMR</td>
      <td>DMR</td>
    </tr>
    <tr>
      <td>Division of Mathematical Sciences</td>
      <td>MPS</td>
      <td>DMS</td>
      <td>DMS</td>
    </tr>
    <tr>
      <td>Division of Physics</td>
      <td>MPS</td>
      <td>PHY</td>
      <td>PHY</td>
    </tr>
    <tr>
      <td>Directorate for Social, Behavioral &amp; Economic Sciences </td>
      <td>SBE</td>
      <td>OAD</td>
      <td>SBE,SES,BCS,NCSE,SMA</td>
    </tr>
    <tr>
      <td>Division of Social and Economic Sciences</td>
      <td>SBE</td>
      <td>SES</td>
      <td>SES</td>
    </tr>
    <tr>
      <td>Division of Behavioral and Cognitive Sciences</td>
      <td>SBE</td>
      <td>BCS</td>
      <td>BCS</td>
    </tr>
    <tr>
      <td>National Center for Science and Engineering Statistics</td>
      <td>SBE</td>
      <td>NCSE</td>
      <td>NCSE</td>
    </tr>
    <tr>
      <td>SBE Office of Multidisciplinary Activities</td>
      <td>SBE</td>
      <td>SMA</td>
      <td>SMA</td>
    </tr>
    <tr>
      <td>Office of Budget, Finance, and Award Management</td>
      <td>BFA</td>
      <td>OAD</td>
      <td>BFA,BD,DACS,DFM,DGA,DIAS</td>
    </tr>
    <tr>
      <td>Budget Division</td>
      <td>BFA</td>
      <td>BD</td>
      <td>BD</td>
    </tr>
    <tr>
      <td>Division of Acquisition and Cooperative Support</td>
      <td>BFA</td>
      <td>DACS</td>
      <td>DACS</td>
    </tr>
    <tr>
      <td>Division of Financial Management</td>
      <td>BFA</td>
      <td>DFM</td>
      <td>DFM</td>
    </tr>
    <tr>
      <td>Division of Grants &amp; Agreements</td>
      <td>BFA</td>
      <td>DGA</td>
      <td>DGA</td>
    </tr>
    <tr>
      <td>Division of Institution and Award Support</td>
      <td>BFA</td>
      <td>DIAS</td>
      <td>DIAS</td>
    </tr>
    <tr>
      <td>Office of Information &amp; Resource Management </td>
      <td>OIRM</td>
      <td>OAD</td>
      <td>OIRM,HRM,DIS,DAS</td>
    </tr>
    <tr>
      <td>Division of Human Resource Management</td>
      <td>OIRM</td>
      <td>HRM</td>
      <td>HRM</td>
    </tr>
    <tr>
      <td>Division of Information Systems</td>
      <td>OIRM</td>
      <td>DIS</td>
      <td>DIS</td>
    </tr>
    <tr>
      <td>Division of Administrative Services</td>
      <td>OIRM</td>
      <td>DAS</td>
      <td>DAS</td>
    </tr>
  </tbody>
</table>
